body {
    background-color: white;
}

.main-container {
    border: 1px solid ;
    width:850px;
    height:450px;
    background-image: url(space.jpg);
    background-size: 850px 450px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.sub-container {
    width: 850px;
    height: 324px;
    background-color: lightgray;
    display:flex;
    flex-flow: row wrap;
}

h1 {
    color: white;
    margin:0px;
    padding:0px;
    
}

section  {
    /* border: 2px solid gold; */
    width:270px;
    height:324px;
}













